header {
background:rgb(241, 235, 235)
padding:15px 0px;
}
.prueba {
background: rgb(246, 244, 242)
}
 
body {
margin: 0;
padding:0;
font-family:Arial, Helvetica, sans-serif;
box-sizing: border box;
background: rgb(246, 244, 244);
}

header h1 {
width: 600px;
margin:0px;
margin:auto;
}

article {
border:1px rgba(0, 4, 12, 0.833); 
width: 600px;
margin:auto; 
}
.artcle_header {
boder: 1px red;
display: flex;
justify-content: space-between;
padding:0px 15px;
}
.article header title {
font-size: 1.2rem;
font-weight: bold;
}
.article header date {
font-size: 0.8rem;
color:rgb(248, 243, 243);
 }   

